%button#load_button open xml file (be patient)
%input#load{:type => "file", :style => "display: none"}
%form#blog_info{:action => "/", :method => "POST"}
  %textarea#xml{:placeholder => 'or paste in (faster)', :name => 'xml'}
  %p will do its best to convert to many markdown files with yaml front matter and zip them up for you to download
  %button#submit{:type => "submit"} submit