<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %link{:rel => "stylesheet", :href => "/css/style.css"}
    %title flee to md
  %body
    %h1 flee_to_md
    %a{:href => "http://github.com/maxjacobson/flee"} fork me on github
    =yield
    %script{:src => "/js/jquery.min.js"}
    %script{:src => "/js/app.js"}